.squareRegular {
    background-color: #2176AE;
}

.squareFizz {
    background-color: #FCAB10;
}

.squareBuzz {
    background-color: #F8333C;
}

.squareFizzBuzz {
    background-color: #7D387D;
}

.squareStyle {
    height: 150px;
    width: 150px;
    margin: 15px;
    border: 1px solid white;
    vertical-align: middle;
    line-height: 150px;
    font-size: 25px;
    font-weight: 700;
}

.body-style {
    background-color: #44AF69;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(33, 31, 31);
}


.bg-form {
    background-color: #DBD5B5;
    outline: none;
    font-size: 20px;
    font-weight: 700;
}

.header-style {
    font-size: 40px;
    font-weight: 700;
}