.squareRegular {
    background-color: #DBD5B5;
}


.squareFizz {
    background-color: #2B9EB3;
}


.squareBuzz {
    background-color: #F8333C;
}

.squareFizzBuzz {
    background-color: #FCAB10;
}

.squareStyle {
    height: 150px;
    width: 150px;
    margin: 15px;
    border: 1px solid white;
    vertical-align: middle;
    line-height: 150px;
    font-size: 25px;
    font-weight: 700;

}

.body-style {
    background-color: #44AF69;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: rgb(33, 31, 31);
}

.btn-style {
    background-color: #DBD5B5;
    border-style: 1px, solid, white;
}

.userNumberStyle {
    background-color: #DBD5B5;
    border-style: 1px, solid, white;
}